{% extends 'BlogApp/main.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<title>Add Post</title>
{% endblock %}

{% block navbar %}
{% include 'BlogApp/navbar.html' %}
{% endblock %}

{% block main %}
<p><small>{{request.user}}</small></p>
<hr>
<h2><b>Add post</b> </h2>
<form method="POST" enctype="multipart/form-data"> {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-dark" onclick="showTagInput(event)" id="addTag">Add another tag</button>
    <div class="wrapper" style="display: none;" id="tagInput">

        <label for="id_tag_item">Tag item:</label>
        <input type="text" maxlength="20" id="id_tag_item">
        <p style="color: red; display: none;" id="msg"> *this tag alredy exits!</p>
        <input type="hidden" id="hashTags" name="tag_item">

        <div id="tag-container">
        </div>
    </div>
    <input type="hidden" id="hashTags" name="hashTags">
    <button type="submit" class="btn btn-primary">submit</button>
    <button type="reset" class="btn btn-danger">cancel</button>

</form>

<script>
    

    let input, hashtagArray, container, t
    let alltags = document.getElementById("id_tag")
    let msg = document.getElementById("msg")
    console.log(alltags.options)
    for (option of alltags) {
        console.log(option.text)
    }
    input = document.getElementById('id_tag_item')
    input.required = false;
    hashtagArray = []
    input.addEventListener('keypress', () => {
        input = document.getElementById('id_tag_item')
        if (event.key === "Enter" && input.value.length > 0) {
            ok = true
            msg.style.display="none"
            for (tag of alltags) {
                if(input.value == tag.text){
                    ok = false
                    msg.style.display="block"
                } 
            }
            check = hashtagArray.filter(ele => ele == input.value)
            if (check == input.value){
                ok = false
                msg.style.display="block"
            }
            if (ok) {
                var p = document.createElement('p')
                container = document.getElementById('tag-container')
                p.innerHTML = input.value
                p.classList.add('tag')
                container.appendChild(p)
                hashtagArray.push(input.value)
                hashTags = document.getElementById("hashTags")
                console.log(hashTags)
                hashTags.value = hashtagArray
                input.value = ''
            }
            console.log(hashtagArray)
            let deleteTags = document.querySelectorAll('.tag');
            console.log(deleteTags)
            for (let i = 0; i < deleteTags.length; i++) {
                deleteTags[i].addEventListener('click', () => {
                    console.log(deleteTags[i].innerHTML)
                    updatedTags = hashtagArray.filter(ele => ele != deleteTags[i].innerHTML)
                    hashtagArray = updatedTags
                    hashTags.value = hashtagArray
                    document.getElementById('tag-container').removeChild(deleteTags[i]);
                });
            }
        }
    })
    input.addEventListener('keypress', (event) => {
        if (event.key === "Enter") {
            event.preventDefault()
        }
    })
    function showTagInput(event){
        event.preventDefault()
        input = document.getElementById("tagInput")
        input.style.display ="block"
        btn = document.getElementById("addTag")
        btn.style.display ="none"
    }
</script>
{% endblock %}