{% extends 'BlogApp/main.html' %}
{% load static %}

{% block head %}
{% if  edit %}
<title>Edit Post</title>
{% else %}
<title>Add Post</title>
{% endif %}
{% endblock %}

{% block navbar %}
{% include 'BlogApp/navbar.html' %}
{% endblock %}

{% block main %}


<div style="width: 70%; margin: 0 auto;">
    {% if new %}
    <h2><b>New Post:</b> </h2>
    {% else %}
    <h2><b>Edit Post:</b> </h2>
    {% endif %}
    <hr>
    <form method="POST" enctype="multipart/form-data"> {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-dark d-block mb-3" onclick="showTagInput(event)" id="addTag">Add another tag</button>
        <div class="wrapper" style="display: none;" id="tagInput">
    
            <label for="id_tag_item">Tag item:</label>
            <input type="text" maxlength="20" id="id_tag_item" data-role='tagsinput' class="form-control">
            <p style="color: red; display: none;" id="msg"> *this tag alredy exits!</p>
            <p style="color: red; display: none;" id="msgFwords"> *Forbbiden Word!</p>
            <input type="hidden" id="hashTags" name="tag_item" class="mb-5">

            <div id="tag-container" class="my-2">
            </div>

        </div>
        <input type="hidden" id="hashTags" name="hashTags">
        <button type="submit" class="btn btn-primary">submit</button>
        <button type="reset" class="btn btn-danger">cancel</button>
    </form>
</div>

<input type="hidden" id="fwords" value="{{fwords}}">


<script>
    let fwords =document.getElementById("fwords").value.toLowerCase().split(',')
    console.log(fwords)
    console.log(fwords.includes("ool"))
    let input, hashtagArray, container, t
    let alltags = document.getElementById("id_tag")
    let msg = document.getElementById("msg")
    let msgFwords = document.getElementById("msgFwords")

    // console.log(alltags.options)
    // for (option of alltags) {
    //     console.log(option.text)
    // }
    input = document.getElementById('id_tag_item')
    input.required = false;
    hashtagArray = []
    input.addEventListener('keypress', () => {
        input = document.getElementById('id_tag_item')
        selected = input.value
        if (event.key === "Enter" && selected.length > 0) {
            
            selected =selected.replace("#","")
            console.log(selected)
            ok = true
            msg.style.display="none"
            msgFwords.style.display="none"
            for (tag of alltags) {
                if(selected == tag.text){
                    ok = false
                    msg.style.display="block"
                } 
            }
            if(fwords.includes(selected.toLowerCase())){
                ok = false
                msgFwords.style.display="block"
            }
            check = hashtagArray.filter(ele => ele == selected)
            if (check == selected){
                ok = false
                msg.style.display="block"
            }
   
            if (ok) {
                var tag = document.createElement('span')                
                var i = document.createElement('i')
                container = document.getElementById('tag-container')
                var text= document.createTextNode(selected)
                tag.classList.add('tag','badge','bg-secondary','mx-1')
                i.classList.add('fas','fa-tag')
                tag.appendChild(i)
                tag.appendChild(text)
                container.appendChild(tag)
                hashtagArray.push(selected)
                hashTags = document.getElementById("hashTags")
                // console.log(hashTags)
                hashTags.value = hashtagArray
                input.value = ''
            }
            // console.log(hashtagArray)
            let deleteTags = document.querySelectorAll('.tag');
            // console.log(deleteTags)
            for (let i = 0; i < deleteTags.length; i++) {
                deleteTags[i].addEventListener('click', () => {
                    // console.log(deleteTags[i].innerHTML)
                    updatedTags = hashtagArray.filter(ele => ele != deleteTags[i].innerHTML)
                    hashtagArray = updatedTags
                    hashTags.value = hashtagArray
                    document.getElementById('tag-container').removeChild(deleteTags[i]);
                });
            }
        }
    })
    input.addEventListener('keypress', (event) => {
        if (event.key === "Enter") {
            event.preventDefault()
        }
    })
    function showTagInput(event){
        event.preventDefault()
        input = document.getElementById("tagInput")
        input.style.display ="block"
        btn = document.getElementById("addTag")
        btn.style.display ="none"
        btn.classList.remove("d-block")
    }
</script>
{% endblock %}