{% extends 'BlogApp/main.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Tag</title>
{% endblock %}

{% block navbar %}
    {% include 'BlogApp/navbar.html' %}
{% endblock %}

{% block main %}
    <h2><b> {% if edit %} Edit Tag {% else %} Add tag {% endif %}</b> </h2>
    <form method="POST" class="col-8 col-md-4"> {% csrf_token %}
        {{ form.as_p }}
        {% for message in messages %}
        <p id="messages">{{message}}</p>
        {% endfor %}
        <button type="submit" class="btn btn-primary">save</button>
        <button type="reset" class="btn btn-danger"> <a href="{% url 'tags' %}" style="color: white;"> cancel</a></button>
    </form>
{% endblock %}
