{% extends 'BlogApp/main.html' %}
{% load static %}

{% block head %}
<title>Categories</title>
{% endblock %}

{% block navbar %}
{% include 'BlogApp/navbar.html' %}
{% endblock %}

{% block main %}
<a href="{% url 'add-cat' %}"> add cat </a>
<div class="col-5">
    <table border="1" class="table">
        <tr>
            <th class="col-2">Category</th>
            <th class="col-1" >actions</th>
            {% for category in all_categories %}
        <tr>
            <td>{{category.category}}</td>
            <td><a href="{% url 'delete-cat' category.id %}">delete</a></td>
        </tr>
             {% endfor %}
        </tr>
    </table>
</div>


{% endblock %}
