{% extends 'BlogApp/main.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Post Details</title>
{% endblock %}

{% block navbar %}
    {% include 'BlogApp/navbar.html' %}
{% endblock %}


{% block main %}

<!-- show post  -->
<div class="row">

    <!-- Post Content Column -->
    <div class="col-lg-8">

      <!-- Title -->
      <h3 class="mt-4">{{post.title}}</h3>

      <!-- Author -->
      <p class="lead">
        
        {{post.user}} Posted by
      </p>

      <hr>

      <!-- Date/Time -->
      <p>{{post.created_on}}</p>

      <hr>

      <!-- Preview Image -->
      {% if post.post_img %}
      <img class="img-fluid"  src="{{ MEDIA_URL }}/{{post.post_img}}" alt="Post Image">
      {% endif %}
     

      <hr>

      <!-- Post Content -->
      <p class="lead">
          {{post.content}}
      </p>

      <hr>
<!-- show number of comments -->
      <!-- <h4>Comments {% if comments %}({{comments.count }}){% endif %}</h4>
      <hr> -->
      <!-- show comments with user name and date  -->
      <!-- {% if comments %}
      {% for comment in comments  %}
        <div class="media mb-4">
          <div class="media-body">
            <h5 class="mt-0">{{ comment.user}}</h5>
            {{comment.created_on}} <br>
            {{comment.comment_info}}
          </div>
        </div>
      {% endfor %} -->
      
      <!-- if there is no comments -->
      <!-- {% else %}
      <div class ="alert alert-danger">
        There are no comments for this post, be the first to comment!
      </div>
      {% endif %} -->



<!-- to add comment -->
      <!-- <div class="card my-4 container">
          <h5 class="card-header">Add Comment:</h5>
          <div class="card-body">
            <form method = "post" action = "{% url 'post:comment' post.id %}">
              {% csrf_token %}
              <div class="form-group">
                <label for="formGroupExampleInput">Comment</label>
                <textarea name = "comment_info" class="form-control" rows="3"></textarea>
              </div>
              <button type="submit" class="btn btn-danger my-3">submit</button>
            </form>
          </div>
        </div>

        </div> -->
        


      </div>

      

{% endblock %}
