
{% extends 'BlogApp/main.html' %}
{% load static %}

{% block head %}
    <title>Home</title>
{% endblock %}

{% block navbar %}
    {% include 'BlogApp/navbar.html' %}
{% endblock %}

{% block main %}
<form method="POST"> {% csrf_token %}
    {{ form.as_p }}
    {% for message in messages %}
    <p id="messages">{{message}}</p>
    {% endfor %}
    <button type="submit" class="btn btn-primary">save</button>
    <button type="reset" class="btn btn-danger">cancel</button>
</form>

{% endblock %}

