{% extends 'BlogApp/main.html' %}
{% load static %}

{% block head %}
<title>Forbidden Words</title>
{% endblock %}

{% block navbar %}
{% include 'BlogApp/navbar.html' %}
{% endblock %}

{% block main %}


<a href="{% url 'add-fword' %}" > <button type="button" class="btn btn-secondary mb-2">Forbidden Word <b>+</b></button> </a>
<div class="col-5">
    <table class="table table-hover" style="font-weight: bold;">
        {% for fword in all_fwords %}
        <tr>
            <th>{{fword.fword}}</th>
            <td><a href="{% url 'del-Fword' fword.id %}" style="color: #d63031;">Delete</a></td>
            <td><a href="#" style=" color: #2980b9;">Edit</a></td>
        </tr>
        {% endfor %}
        
    </table>
</div>

{% endblock %}
