{% extends 'BlogApp/main.html' %}
{% load static %}

{% block head %}
<title>Forbidden Words</title>
{% endblock %}

{% block navbar %}
{% include 'BlogApp/navbar.html' %}
{% endblock %}

{% block main %}
<div class="col-5">
    <table border="1" class="table">
        <tr>
            <th class="col-2">Forbidden Words</th>
            <th class="col-1" >actions</th>
            {% for fword in all_fwords %}
        <tr>
            <td>{{fword.fword}}</td>
            <td><a href="{% url 'del-Fword' fword.id %}">delete</a></td>

        </tr>
             {% endfor %}
        </tr>
    </table>
    <a href="{% url 'add-fword' %}"> add Forbidden Word </a>

</div>


{% endblock %}
