{% extends 'BlogApp/base.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    {% block title_block %}
        <div class="container">
            <div class="row">
                <span>hello, <b>{{request.user}}</b> </span>
                <span ><a href="{% url 'login' %}">sign in</a></span>
                <span ><a href="{% url 'logout' %}">sign out</a></span>
                <span><a href="{% url 'posts' %}">posts</a></span>
            </div>
    {% endblock %}


    {% block main_block %}
            <h2>Home</h2>
         </div>
    {% endblock %}
</body>
</html>