{% extends 'BlogApp/main.html' %}
{% load static %}

{% block head %}
<title>Manage blog</title>
{% endblock %}

{% block navbar %}
{% include 'BlogApp/navbar.html' %}
{% endblock %}

{% block main %}
<h2 class="mt-3 "><span class="m-2">Manage blog</span><i class='fas fa-user-cog'></i></h2>

    <div class="col-7 mt-3">
        <a href="{% url 'showusers' %}" class="list-group-item list-group-item-action" aria-current="true">Users
            <i class='fas fa-users text-center' style="font-size: 20;"></i>
        </a>
       
       
        <a href="{% url 'Fwords' %}" class="list-group-item list-group-item-action">Forbidden words
            <i class='fas fa-exclamation-triangle'></i>

        </a>


        <a href="{% url 'posts' %}" class="list-group-item list-group-item-action">Posts
            <i class='far fa-address-card'></i></a>
        </a>


        <a href="{% url 'categories' %}" class="list-group-item list-group-item-action">Categories 
            <i class='fas fa-gifts '></i>
        </a>

        <a href="{% url 'tags' %}" class="list-group-item list-group-item-action">Tags 
            <i class='fas fa-hashtag'></i>
        </a>

        <a href="{% url 'messages' %}" class="list-group-item list-group-item-action">Messages
            <i class='fas fa-envelope'></i></a>
        </a>
    </div>



{% endblock %}

<script>
    var triggerTabList = [].slice.call(document.querySelectorAll('#myTab a'))
    triggerTabList.forEach(function (triggerEl) {
        var tabTrigger = new bootstrap.Tab(triggerEl)

        triggerEl.addEventListener('click', function (event) {
            event.preventDefault()
            tabTrigger.show()
        })
    })
</script>