{% extends 'BlogApp/main.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Post Details</title>
{% endblock %}

{% block navbar %}
    {% include 'BlogApp/navbar.html' %}
{% endblock %}


{% block main %}

<!-- show post  -->
<div class="row">

    <!-- Post Content Column -->
    <div class="col-lg-8">

      <!-- Title -->
      <h3 class="mt-4">{{post.title}}</h3>

      <!-- Author -->
      <p class="lead">
        
        {{post.user.username}} Posted by
      </p>

      <hr>

      <!-- Date/Time -->
      <p>{{post.created_on}}</p>

      <hr>

      <!-- Preview Image -->
      {% if post.post_img %}
      <img class="img-fluid"  src="{{ MEDIA_URL }}/{{post.post_img}}" alt="Post Image">
      {% endif %}
     

      <hr>

      <!-- Post Content -->
      <p class="lead">
          {{post.content}}
      </p>

      <hr>


      </div>

      

{% endblock %}
