{% extends 'BlogApp/main.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/postDiv.css' %}">
<link rel="stylesheet" href="{% static 'css/tag.css' %}">


{% endblock %}
{% block navbar %}
{% include 'BlogApp/navbar.html' %}
{% endblock %}

{% block main %}

<div class="row postDiv">
    <!-- ShowPost detials -->
    <div class="col-12 ">
        <div class="card" style="border: none;">
            <div style="display: inline-block; text-align: center;">
                <h1 class="card-title" style="text-align: center; display: inline;">{{post.title}}</h1>
                {% if post.user == request.user or user.is_superuser %}
                <a type="button" class="btn btn-light" style="display: inline; float: right; clear: right;"
                    href="{% url 'updatepost' post.id %}"> Update Post</a>
                {% endif %}
            </div>
            <hr>
            <div class="Post" id="Post"
                style="display: flex; justify-content: space-between; width: 100%; padding: 0 2% ;">
                <div style="width:55%; text-align: justify;" id="content">
                    <p class="card-text">{{post.content}}</p>
                    <small class="card-text" style="float: right; clear: right;">{{post.created_on}}</small>

                </div>
                <div style="width: 40%; display: flex; justify-content: center;
                flex-direction: column;" id="imgDiv">
                    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img src="{{ MEDIA_URL }}/{{post.post_img}}" id="img" class="img-fluid" style="width: 100%;" />
                        <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                    </div>
                </div>


            </div>


            <div class="card-body">
                <h4 class="card-text">{{post.caregory}}</h4>
                <dv class="tag-container">
                    {% for tag in tags %}
                    <h4>
                        <span class="badge bg-secondary mx-1"><i class="fas fa-tags"></i>{{tag}}</span>
                    </h4>
                    {% endfor %}
                </dv>

            </div>

        </div>
    </div>


    {% if not request.user.is_anonymous %}
    <div class="d-flex flex-row">
        <!-- like Form if the user need to add a like-->
        <form method="POST" action="{% url 'likepost' post.id %}">
            {% csrf_token %}
            {% if  is_like %}
            <button type="submit" name="post_id" value="{{ post.id }}"
                style="background-color: transparent; border: none; box-shadow: none;">
                <i class="fas fa-thumbs-up post" style="color: blue; font-size:x-large;"></i>
                <span>{{ totallikes}}</span>
            </button>
            {% else %}
            <button type="submit" name="post_id" value="{{ post.id }}"
                style="background-color: transparent; border: none; box-shadow: none;">
                <i class="fas fa-thumbs-up"></i> <span>{{ totallikes }}</span>
            </button>
            {% endif %}
        </form>
        <!-- dislike Form if the user need to add a dislike-->
        <form method="POST" action="{% url 'dislikepost' post.id %}">
            {% csrf_token %}
            {% if is_dislike %}
            <button type="submit" name="post_id" value="{{ post.id }}"
                style="background-color: transparent; border: none; box-shadow: none;">
                <i class="fas fa-thumbs-down" style="color:brown; font-size:x-large;"></i>
                <span>{{ totaldislikes }}</span>
            </button>
            {% else %}
            <button type="submit" name="post_id" value="{{ post.id }}"
                style="background-color: transparent; border: none; box-shadow: none;">
                <i class="fas fa-thumbs-down"></i> <span>{{ totaldislikes }}</span>
            </button>
            {% endif %}
        </form>
    </div>
    <!-- Add Comment button -->
    <button class="btn btn-primary col-2 " id="button" onclick="addComment()">Add Comment
        <i class='fas fa-pen-square'></i></button>
    <!-- <button class="btn btn-primary col-2 " id="button" onclick="addComment()">Add Comment <i class='fas fa-pen-square'></i></button>  -->


    <!-- Comment Form if the user need to add a comment-->
    <form method="POST" enctype="multipart/form-data" style="display: none;" id="form"> {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">submit</button>
        <button type="reset" class="btn btn-danger">cancel</button>
    </form>



    {% else %}
    <p style="color: red;">Please sign in to like and comment on posts!</p>
    {% endif %}
    <!-- Comments of this Post-->

    {% if comments %}
    <h6>Comments {{comments.count }}</h6>
    {% for comment in comments %}
    {%if not comment.parent %}
    <div class="col-12 ">
        <div class="card">
            <div class="card-body">
                {% if comment.user == request.user or user.is_superuser %}
                <a type="button" href="{% url 'delete-comment' post_id=post.id comment_id=comment.id %}"
                    class="d-flex flex-row-reverse">
                    <i class="fas fa-trash"></i>
                </a>
                {% endif %}
                <h5 class="card-title">{{comment.user}}</h5>
                <small class="card-title">{{comment.created_on}}</small>
                <p class="card-text">{{comment.comment_info}}</p>
                <!-- start -->
                <div class="d-flex flex-row" style="align-items: baseline">
                    <!-- like Form if the user need to add a like to a comment-->
                    <form method="POST" action="{% url 'like-comment' post_id=post.id comment_id=comment.id %}">
                        {% csrf_token %}
                        {% if is_like %}
                        <button type="submit" name="comment_id" value="{{ comment_id }}"
                            style="background-color: transparent; border: none; box-shadow: none;">
                            <i  class="fas fa-thumbs-up comment" style="color: blue;"></i>
                            <span>{{ comment.likes.all.count}}</span>
                        </button>
                        {% else %}
                        <button type="submit" name="comment_id" value="{{ comment_id }}"
                            style="background-color: transparent; border: none; box-shadow: none;">
                            <i class="fas fa-thumbs-up"></i>
                            <span>{{ comment.likes.all.count }}</span>
                        </button>
                        {% endif %}
                    </form>


                    <!-- dislike Form if the user need to add a dislike to a comment-->
                    <form method="POST" action="{% url 'dislike-comment' post_id=post.id comment_id=comment.id %}">
                        {% csrf_token %}
                        {% if is_dislike %}
                        <button type="submit" name="comment_id" value="{{ comment_id }}"
                            style="background-color: transparent; border: none; box-shadow: none;">
                            <i class="fas fa-thumbs-down" style="color:brown;"></i>
                            <span>{{ comment.dislikes.all.count}}</span>
                        </button>
                        {% else %}
                        <button type="submit" name="comment_id" value="{{ comment_id }}"
                            style="background-color: transparent; border: none; box-shadow: none;">
                            <i class="fas fa-thumbs-down"></i>
                            <span>{{ comment.dislikes.all.count }}</span>
                            {% endif %}
                    </form>


                    <!-- reply to comment button -->

                    <button style="background-color: transparent; border: none; box-shadow: none;">
                        <i class="far fa-comment-dots font-size:x-large;"
                            onclick="commentReply('{{ comment.id }}')"></i>
                    </button>
                </div>
                <!-- reply to Comment Form if the user need to add a comment-->
                <div class="d-none" id="{{ comment.id }}">
                    <form method="POST" enctype="multipart/form-data"
                        action="{% url 'commentreply' post.id comment.id %}">
                        {%csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">submit</button>
                        <button type="reset" class="btn btn-danger">cancel</button>
                    </form>
                </div>
                {% for child_comment in comment.children %}
                <div class="row justify-content-center child_comment">
                    <div class="card">
                        <div class="card-body">
                            {% if request.user == child_comment.user %}
                            <a href="{% url 'delete-comment' post_id=post.id comment_id=child_comment.id %}"
                                class="d-flex flex-row-reverse"><i class="fas fa-trash"></i></a>
                            {% endif %}
                            <h5 class="card-title">{{child_comment.user}}</h5>
                            <small class="card-title">{{child_comment.created_on}}</small>
                            <p class="card-text">{{child_comment.comment_info}}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>
    {% endif %}
    {% endfor %}
    {% else %}
    <div class="alert alert-danger">
        There are no comments for this post, be the first to comment!
    </div>
    {% endif %}






</div>



<!-- Script file for showing and hiding CommentForm -->
<script>
    function addComment() {
        console.log("sss")
        var form = document.getElementById("form")
        var button = document.getElementById("button")
        if (form.style.display === "none") {
            form.style.display = "block"
            button.style.display = "none"
        } else {
            form.style.display = "none"
            button.style.display = "block"
        }

    }

    var img = document.getElementById("img")
    var post = document.getElementById("Post")
    var content = document.getElementById("content")
    var imgDiv = document.getElementById("imgDiv")
    console.log(img.scrollHeight)
    console.log(img.scrollWidth)
    if (img.scrollHeight < img.scrollWidth) {
        post.style.flexDirection = "column"
        content.style.width = "100%"
        imgDiv.style.width = "100%"
    }

    function commentReply(parent_id) {
        const row = document.getElementById(parent_id);
        if (row.classList.contains('d-none')) {
            row.classList.remove('d-none');
        } else {
            row.classList.add('d-none');
        }
    }
</script>
<!-- end Script-->
{% endblock %}