{% extends 'BlogApp/main.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Posts</title>
{% endblock %}

{% block navbar %}
    {% include 'BlogApp/navbar.html' %}
{% endblock %}

{% block main %}
    {% for post in all_posts %}
    <div class="col-8 m-5">
        <div class="card" style="height:50vh; width: 80%;">
            <div class="card-body">
            <h5 class="card-title">{{post.title}}</h5>
            <!-- <h5 class="card-title">{{post.category}}</h5>
            <p class="card-text">{{post.content}}</p> -->
            <p class="card-text"><small class="text-muted">{{post.created_on}}</small></p>
            </div>
            <a href="{% url 'postdetails' post.id %}">
            <img class="card-img-bottom" style="width: 100%" src="{{ MEDIA_URL }}/{{post.post_img}}"  alt="Card image cap">
            </a>
            <a class="btn btn-info col-2" href="{% url 'deletepost' post.id %}">Delete</a>
            <a class="btn btn-info col-2" href="{% url 'updatepost' post.id %}">Update</a>
        </div>
    </div>
        
    {% endfor %}
{% endblock %}
