{% extends 'BlogApp/main.html' %}
{% load static %}

{% block head %}
    <title>Add Category</title>
{% endblock %}

{% block navbar %}
    {% include 'BlogApp/navbar.html' %}
{% endblock %}

{% block main %}
    {% if noResult %}
    <h1 class="my-3" > No Reuslt</h1>
    {% else %}
    <h2 class="my-3"><b>Results</b> </h2>
    <div class="row"> {% for post in posts %}
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card mb-4">

          <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
            <a href="{% url 'post' post.id %}">
              <img src=" {{MEDIA_URL}}/{{post.post_img}}" class="img-fluid" style="width:  100%;
                            height: 200px;
                            background-size: cover;" /> </a>
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>


          <div class="card-body p-2 pb-4" style="height: 28vmin;">
            <h4 class="card-title m-1 ">{{post.title}}</h4>
          
            <span><small class="card-title m-1">{{post.created_on}}</small></span>
            <p class="card-text m-2" style="white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;  ">
              {{post.content}}
            </p>
            <div class="text-center">

              {% if post.user == request.user or user.is_superuser %}
              <a class="btn btn-danger " href="{% url 'deletepost' post.id %}"> <i class='fas fa-trash'></i></a>
              <a class="btn btn-primary " href="{% url 'updatepost' post.id %}"><i class='fas fa-pen'></i></a>
              {% endif %}

            </div>

          </div>
        </div>
      </div>
    {% endfor %}
</div>
{% endif %}
{% endblock %}
