.color-light{
    color: #0984e3 !important;
}
.color-dark{
    color: #0d6efd  !important;
}
.background-light{
    background-color: #0984e3 !important;
}
.background-dark{
    background-color: #0d6efd  !important;
}