.color-light{
    color: #9980FA !important;
}
.color-dark{
    color: #5758BB !important;
}
.background-light{
    background-color: #9980FA !important;
}
.background-dark{
    background-color: #5758BB !important;
}